* {
    margin: 0;
    padding: 0;
}

:root {
    --primary : #DDFFBC;
    --secondary : #91C788;
    --important : #52734D;
    --normal : #FEFFDE;
}

header, footer {
    height : 50px;
    text-align: center;
    background: var(--primary);

}

main {
    float: left;
    width: 80%;
    height: 500px;
    background: var(--important);
}

aside {
    float: left;
    width: 20%;
    height: 500px;
    background: var(--secondary);

}

