* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color1: #CCCCFF;
    --color2: #6495ED;
    --color3: #40E0D0;
    --color4: #9FE2BF;
    --color5: #DE3163;
    --color6: #FF7F50;
    --color7: #FFBF00;
}
.css-selector {
    font-family: 'Roboto Mono', serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;    /*수직 정렬*/
    background-color: #91C788;
    min-height: 100vh;
    font-size: 5em;
    color: #C4D7E0;
}