* {
    margin: 0;
    padding: 0;
}

:root {
    --primary : #DDFFBC;
    --secondary : #91C788;
    --important : #52734D;
    --normal : #FEFFDE;
}

#wrapper {

}

header {
    height : 150px;
    text-align: center;
    background: var(--primary);

}

main {
    float: left;
    width: 80%;
    height: 500px;
    background: var(--normal);
    text-align: justify;
}

aside {
    float: left;
    width: 20%;
    height: 500px;
    background: var(--secondary);

}

footer {
    height : 100px;
    text-align: center;
    background-color: var(--primary);
    /*border-color: #202020 solid 2px;*/
}